<div class="wrapper wrapper-content">
    <div class="row">

      <h1 align="center"> Welcome to SG Brainwaves!</h1>


      <div align="center" class = "row" aria-setsize="500px">

        <input align="center" size="70" type="text" placeholder="Give the Product type">

      </div>

      <div>
        <h1>    </h1>

      </div>
    <div class="row" style="arial">
      <p align="center">
      <button type="button" class="btn btn-primary btn-lg">Get default</button>
      </p>

    </div>

</div>
</div>
